<div class="card my-5" style="max-width: 100%;"> 
    <div class="row g-0">
        <div class="col-md-4">
            <%= image_tag 'yo.jpg', class:'profile_img'%>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Carolina Alarcon Cavada</h5>
                <p class="card-text">Diseño - Docencia | Gestión, Elaboración y Coordinación de proyectos <br>
                especialización UX-UI, TIC.</p>
                <p class="card-text"><small class="text-muted">Contacto: +56 99999 9999 Mail: hellocaro.design@gmail.com</small></p>
            </div> 
        </div>
    </div>   
</div>

<div class="card my-5" style="max-width: 100%;"> <div class="row g-0">
        <div class="col-md-4">
            <%= image_tag '12.png', class:'img_home'%>
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">PERFIL PROFESIONAL</h5>
            <p class="card-text"><small class="text-muted">Soy una docente de artes visualesy  diseñadora en comunicación visual  con más de 12 años de experiencia en el ámbito educativo y la  comunicación visual. Me he especializado en la docencia, gestión y coordinación de proyectos, así como en la incorporación de tecnologías de la información y comunicación al aula en diversos contextos y proyectos. Trabajar con y para las personas es mi principal objetivo, poniendo mis habilidades al servicio de cada desafío que se me presenta, lo que se transforma en un reto constante que me permite crecer profesionalmente</small></p>
        </div> 
        </div>
</div>