<div class="card mb-3" style="max-width: 100%;"> <div class="row g-0">
<div class="col-md-4">
<%= image_tag 'speaker.jpg', class:'profile_img'%>
</div>
<div class="col-md-8">
<div class="card-body">
<h5 class="card-title">Carolina Alarcon Cavada</h5>
<p class="card-text">Diseño - Docencia | Gestión, Elaboración y Coordinación de proyectos <br>
 especialización UX-UI, TIC.</p>
<p class="card-text"><small class="text-muted">Contacto: +56 99999 9999 Mail: hellocaro.design@gmail.com</small></p>
</div> </div>
</div>