.link-navbar{
    color:bisque;
}
.profile_img{
    width: 200px;
    height: 200px;
    margin-left: 20%;
}

.img_home{
    width: 400px;
    height: 400px;
}

.card-text{
    text-align: justify;
    margin-right: 40px;
}